* {
    padding: 0;
    margin: 0;
}

header {
    background: rgb(255, 238, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}

button {
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 5px;
    border-radius: 30px;
    background: rgb(255, 254, 195);
    color: rgb(90, 69, 9);
    border: rgb(90, 69, 9) 2px solid;
}

button:hover {
    background: rgb(255, 196, 0);
    color: rgb(100, 68, 0);
    cursor: pointer;
}

nav a {
    margin-left: 20px;
    color: rgb(90, 69, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

section {
    padding: 170px 30px;
    background-image: url(frog.jpg);
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 40px;
    color: rgb(255, 250, 182);
    font-family: 'Comfortaa', cursive;
}

section p {
    color: cornsilk;
    max-width: 40%;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background: cornsilk;
    color: darkkhaki;
    padding: 20px 50px;
}