* {
    padding: 0;
    margin: 0;
}

header {
    background: rgb(255, 238, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}

button {
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 5px;
    border-radius: 30px;
    background: rgb(255, 254, 195);
    color: rgb(90, 69, 9);
    border: rgb(90, 69, 9) 2px solid;
}

button:hover {
    background: rgb(255, 196, 0);
    color: rgb(100, 68, 0);
    cursor: pointer;
}

nav a {
    margin-left: 20px;
    color: rgb(90, 69, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.hero {
    padding: 170px 30px;
    background-image: url(frog.jpg);
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 40px;
    color: rgb(255, 250, 182);
    font-family: 'Comfortaa', cursive;
}

.hero p {
    color: cornsilk;
    max-width: 40%;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background: cornsilk;
    color: darkkhaki;
    padding: 20px 50px;
}

.card img {
    width: 70px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.card {
    width: 20%;
}

h2 {
    color: rgb(4, 83, 31);
    font-family: 'Comfortaa', cursive;
    padding: 20px;
}

.card h3 {
    color: rgb(12, 99, 45);
    padding: 20px 0;
    font-family: 'Comfortaa', cursive;
}

.service {
    padding: 50px;
    background: rgb(255, 234, 139);
    text-align: center;
}

@media(max-width: 700px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav {
        margin-bottom: 20px;
        text-align: center;
    }
    nav a {
        margin: 0 10px;
    }
}

@media(max-width: 600px) {
    .wrapper {
        flex-wrap: wrap;
    }
    .card {
        width: 80%;
        margin: 10px auto;
    }
    .hero p {
        max-width: 80%;
        margin: auto;
        text-align: center;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .hero {
        padding: 50px 30px;
    }
    button {
        margin-left: 0;
    }
    footer {
        text-align: center;
    }
}